.container {
  padding: 4rem 0;
  background-color: var(--lemon-chiffon);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  color: var(--oxford-navy);
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}
